.signin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.inner-signin-box{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem 3rem 5rem 3rem;
    border-radius: 30px;
    color: white;
    width: 25rem;
    height: 20rem;
}

.signin-text{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 28px;
}


.signin-checkbox{
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 12px;
}

#errorText {
    background-color: #e87c03;
    border-radius: 5px;
}

#errorText > p {
    font-size: 14px;
    padding: 16px;
}

#errorText > p > a {
    text-decoration: underline;
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
}

.password-wrapper{
    display: flex;
}

#password {
    width: 70%;
}

#hideShow {
    width: 20%;
    padding: 0;
    border: none;
    background-color: rgba(56, 56, 56, 1.0);
    color: #8c8c8c;
    border-radius: 5px;
}

#helperWrapper {
    display: flex;
    gap: 50%;
}

#helperWrapper > a {
    text-decoration: none;
    color: rgba(256, 256, 256, 1.0);
    font-size: 14px;
}

.dark-inner-signin-box{
    background-color: rgba(243, 243, 243, 0.89);
    padding: 2rem 3rem 5rem 3rem;
    border-radius: 30px;
    color: white;
    width: 25rem;
    height: 20rem;
    color: black;
}

#emailradio{
 margin: 0 20px 0 20px;
 padding: 0;
 width: 10px;
}

#smsradio{
    margin: 0 20px 0 20px;
    padding: 0;
    width: 10px;
   }