body{
    background-image:none;
    background-color: white;
    color: black;
    font-size: 16px;
    margin: 0;
}

.inner-text-box{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 1rem;
    table-layout: auto;
}

header{
    border-bottom:whitesmoke 3px solid;
}

.red-button{
    width: 60%;
    min-width: 100px;
    margin: 1rem;
}

input{
    color: black;
    background-color: whitesmoke;
    padding: 1rem;
}


.signup-checkbox{
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 12px;
    margin-bottom: 3rem;
}

td{
    padding: 1.2rem;
}

table{
    text-align: center;
    margin-bottom: 2rem;
}

.table-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.plan-selection-box{
    background-color: rgba(255, 0, 0, 0.253);
    color: white;
    padding: 2rem;
}

.step-text{
    font-size: 16px;
}