

.signin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.inner-signin-box{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem 3rem 5rem 3rem;
    border-radius: 30px;
    color: white;
    width: 25rem;
    height: 20rem;
}

.signin-text{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 28px;
}


.signin-checkbox{
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 12px;
}